@model CRM.ViewModels.NewContractorViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Dodaj Kontrahenta</h3>



@Html.Partial("~/Views/Partial/_ContractorNewOrDetails.cshtml")

