@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRM</h1>
    <div class="lead">
        
        <p><i style="padding: 30px">"Aplikacja internatowa do zarządzania relacjami z klientem"</i> - Stanisław Matuszewski 2018</p>
        
    </div>
    
</div>
